<div style="padding-top: 95px">
  <div class="container py-5" >
    <div>
      <hr style="background-color: red">
      <div class="table-responsive">
        <div class='mb-0'>
          <p>Vendor1</p>
          <hr>
        </div>
        <table class="table">
          <thead>
          <tr>
            <th scope="col" >Product</th>
            <th scope="col">Attribute</th>
            <th scope="col" >Price</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>werwr</td>
            <td>werwr</td>
            <td>121212</td>
          </tr>
          <tr>
            <td>werwr</td>
            <td>werwr</td>
            <td>121212</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div>
      <hr style="background-color: red">
      <div class="table-responsive">
        <div class='mb-0'>
          <p>Vendor1</p>
          <hr>
        </div>
        <table class="table">
          <thead>
          <tr>
            <th scope="col" >Product</th>
            <th scope="col">Attribute</th>
            <th scope="col" >Price</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>werwr</td>
            <td>werwr</td>
            <td>121212</td>
          </tr>
          <tr>
            <td>werwr</td>
            <td>werwr</td>
            <td>121212</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="text-center">
      <h4>Status</h4>
      <p class="text-center">20/25/2004: Vendor da gom hang xong dang chuan bi chuyen vao kho tap chung</p>
      <p class="text-center">Vendor da gom hang xong dang chuan bi chuyen vao kho tap chung</p>
      <p class="text-center">Vendor da gom hang xong dang chuan bi chuyen vao kho tap chung</p>
      <p class="text-center">Vendor da gom hang xong dang chuan bi chuyen vao kho tap chung</p>
      <p class="text-center">Vendor da gom hang xong dang chuan bi chuyen vao kho tap chung</p>
      <p class="text-center">Vendor da gom hang xong dang chuan bi chuyen vao kho tap chung</p>
      <p class="text-center">Vendor da gom hang xong dang chuan bi chuyen vao kho tap chung</p>
      <p class="text-center">Vendor da gom hang xong dang chuan bi chuyen vao kho tap chung</p>
      <p class="text-center">Vendor da gom hang xong dang chuan bi chuyen vao kho tap chung</p>
      <p class="text-center">Vendor da gom hang xong dang chuan bi chuyen vao kho tap chung</p>
    </div>
  </div>
</div>
