
<body >
<div class="col-sm-12 col-xl-12">
  <div class="bg-light rounded h-100 p-4">
    <h6 class="mb-4">Add product sku</h6>
    <form id = 'product' >
      <div class="form-floating mb-3">
        <input type="number"
               class="form-control"
               id="nameVn"
               name="nameVn"
               [(ngModel)]="request.price"
               placeholder="Ví dụ: giày">
        <label for="nameVn">Price</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text"
               class="form-control"
               id="thumbnail"
               [(ngModel)]="request.image"
               name="name"
               placeholder="Tên thể loại">
        <label for="thumbnail">Thumbnail</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text"
               class="form-control"
               id="quantity"
               name="name"
               [(ngModel)]="request.quantity"
               placeholder="Tên thể loại">
        <label for="thumbnail">Quantity</label>
      </div>
    </form>
    <div class="form-floating mb-3">
      <button  class="btn btn-primary w-100" (click)="createSku()">Add</button>
    </div>
  </div>
</div>
</body>
