<div class="container-xxl position-relative bg-white d-flex p-0">
  <!-- Sign In Start -->
  <div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
      <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4" style="padding-top: 100px">
        <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
          <div class="mb-3">
            <h3 class="text-center">Nhập email</h3>
          </div>
            <div class="form-floating mb-3">
              <input type="email"
                     class="form-control"
                     id="floatingInput"
                     name="email"
                     placeholder="name@example.com">
              <label for="floatingInput">Email</label>
            </div>
            <button  class="btn btn-primary py-3 w-100 mb-4">Gửi email</button>
          <p class="text-center mb-0">Bạn đã có tài khoản? <a routerLink="/login">Đăng nhập</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Sign In End -->
</div>
