<section >
  <!-- Table Start -->
  <div class="container-fluid pt-4 px-4">

    <div class="col-12">
      <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Product spu list</h6>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Category</th>
              <th scope="col">Brand</th>
              <th scope="col">Description</th>
              <th scope="col">Min price</th>
              <th scope="col">Max price</th>
              <th scope="col">Sku list</th>
              <th scope="col">Update</th>

            </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div><!-- Table End -->
</section>
