<head>
  <title>Đăng Ký</title>
</head>

<body >
<div class="container-xxl position-relative bg-white d-flex p-0">
  <!-- Sign Up Start -->
  <div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
      <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4" style="padding-top: 100px">
        <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
          <form role="form"
                method="post">
            <div class="mb-3">
              <h3 class="text-center">Đăng Ký</h3>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control"
                     id="floatingText"
                     name="username"
                     placeholder="jhondoe"
                [(ngModel)]="registerRequest.username"
              >
              <label for="floatingText">Username</label>
            </div>
            <div class="form-floating mb-4">
              <input type="password" class="form-control"
                     id="floatingPassword" placeholder="Password"
                     name="password"
                     [(ngModel)]="registerRequest.password"
              >
              <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating mb-4">
              <input type="text" class="form-control"
                     id="firstName" placeholder="Password"
                     name="password"
                     [(ngModel)]="registerRequest.firstName"
              >
              <label for="firstName">First name</label>
            </div>
            <div class="form-floating mb-4">
              <input type="text" class="form-control"
                     id="lastName" placeholder="Password"
                     name="password"
                     [(ngModel)]="registerRequest.lastName"
              >
              <label for="lastName">Last name</label>
            </div>
            <div class="form-floating mb-4">
              <input type="text" class="form-control"
                     id="email" placeholder="Password"
                     name="password"
                     [(ngModel)]="registerRequest.email"
              >
              <label for="email">Email</label>
            </div>
            <div class="form-floating mb-4">
              <input type="text" class="form-control"
                     id="phoneNumber" placeholder="Password"
                     name="password"
                     [(ngModel)]="registerRequest.phoneNumber"
              >
              <label for="phoneNumber">Phone Number</label>
            </div>
            <div >
              <select
                class="form-select mb-4"
                id="sex"
                name="dcm"
                [(ngModel)]="registerRequest.sex"
              >
                <option value="MALE" >Male</option>
                <option value="FEMALE">Female</option>
              </select>
            </div>
            <button class="btn btn-primary" (click)="register()">Sign up</button>
          </form>
          <p class="text-center mb-0"> Are you have account? <a
            routerLink="/login"
          >Login</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
