<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Order</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-3">
            <div class="row">
              <h5>Order Status</h5>
              <select class="form-select" style="font-weight: bold">
                <option class="text-center">55555</option>
              </select>
            </div>
          </div>
          <div class="col-9">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">Tên sản phẩm</th>
                  <th scope="col">Nội dung</th>
                  <th scope="col">Đánh giá</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row">3</th>
                  <th scope="row">3</th>
                  <th scope="row">3</th>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
