  <div
       *ngFor="let vendorCartResponse of cartResponse.vendors; let vendorIndex = index"
  >
    <table class="table">
      <thead>
          <tr>
            <th colspan="12">
              <input type="checkbox" value= "{{vendorIndex}}" (click)="selectVendor($event)" [checked]="keyCheck.has(keyVendor + vendorIndex) ? keyCheck.get(keyVendor + vendorIndex) : false"> {{vendorCartResponse.shopName}}
            </th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let itemResponse of vendorCartResponse.itemResponses; let indexItem = index" class="hidden-scroll">
          <td style="width: 40%" colspan="8">
            <input type="checkbox" class="check-box" (click)="selectItem($event)"
                   value="{{itemResponse.stock?.id + '_' + itemResponse.stockClassificationId}}"
                   [checked]="keyCheck.has(keyVendor + keyStock + itemResponse.stock?.id + '_' + itemResponse.stockClassificationId) ? keyCheck.get(keyVendor + keyStock + itemResponse.stock?.id + '_' + itemResponse.stockClassificationId) : false" >
            <div class="d-flex flex-wrap">
              <img src="{{itemResponse.stock?.imageUrls?.at(0)}}" width="110px">
              <p class="m-lg-4" style="width: 30%">{{itemResponse.stock?.product?.name}}</p>
              <select style="width: 15%; height: 50%;transform: translateY(100%)">
                <option
                  *ngFor="let stockClassification of itemResponse.stock?.stockClassifications"
                  [selected]="itemResponse.stockClassificationId === stockClassification.id"
                >
                  {{stockClassification.sizeName}}
                </option>
              </select>
            </div>
          </td>
          <td style="width: 10%;" colspan="1" class="price">{{itemResponse.stock?.price}}</td>
          <td style="width: 20%" colspan="1">
            <div class="input-group quantity mt-4" style="width: 100px;">
              <div class="input-group-btn">
                <button
                  class="btn btn-sm btn-minus rounded-circle bg-light border"
                >
                  <i class="fa fa-minus"></i>
                </button>
              </div>
              <input type="text"
                     class="form-control form-control-sm text-center border-0"
                     value="{{itemResponse.quantity}}"
                     min=1>
              <div class="input-group-btn">
                <button
                  class="btn btn-sm btn-plus rounded-circle bg-light border"
                >
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
          </td>
          <td style="width: 15%" colspan="1" class="total-price">{{Common.getFormatNumber(getTotalPrice(itemResponse.quantity, itemResponse.stock))}}</td>
          <td style="width: 15%" colspan="1" class="delete">Xoa</td>
        </tr>
      </tbody>
    </table>
  </div>
