  <div
       *ngFor="let vendorCartModelView of vendorCartModelViews; let vendorIndex = index"
  >
    <table class="table">
      <thead>
          <tr>
            <th colspan="12">
              <input type="checkbox" value= "{{vendorIndex}}" (click)="selectVendor($event)" [checked]="keyCheck.has(keyVendor + vendorIndex) ? keyCheck.get(keyVendor + vendorIndex) : false"> {{vendorCartModelView.shopName}}
            </th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let itemResponse of vendorCartModelView.items; let indexItem = index" class="hidden-scroll">
          <td style="width: 40%" colspan="8">
            <input type="checkbox" class="check-box" (click)="selectItem($event)"
                   value="{{vendorIndex + '_' + indexItem}}"
                   [checked]="keyCheck.has(keyVendor + keyInventory + itemResponse.id) ? true : false" >
            <div class="d-flex flex-wrap">
              <img src="{{itemResponse.product.imageUrl}}" width="110px">
              <p class="m-lg-4" style="width: 30%">{{itemResponse.product.name}}</p>
              <p class="text-center">{{itemResponse.attribute}}</p>
            </div>
          </td>
          <td style="width: 10%;" colspan="1" class="price">{{itemResponse.product.price}}</td>
          <td style="width: 20%" colspan="1">
            <div class="input-group quantity mt-4" style="width: 100px;">
              <div class="input-group-btn">
                <button
                  class="btn btn-sm btn-minus rounded-circle bg-light border"
                >
                  <i class="fa fa-minus"></i>
                </button>
              </div>
              <input type="text"
                     class="form-control form-control-sm text-center border-0"
                     value="{{itemResponse.quantity}}"
                     min=1>
              <div class="input-group-btn">
                <button
                  class="btn btn-sm btn-plus rounded-circle bg-light border"
                >
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
          </td>
          <td style="width: 15%" colspan="1" class="total-price">{{Common.getFormatNumber(getTotalPrice(itemResponse.quantity, itemResponse.product.price))}}</td>
          <td style="width: 15%" colspan="1" class="delete">Xoa</td>
        </tr>
      </tbody>
    </table>
  </div>
