<div style="padding-top: 95px">
<div class="container py-5" >
  <div class="table-responsive">
  <table class="table">
      <thead>
      <tr>
        <th scope="col" style="width: 40%" colspan="8"><input type="checkbox" (click)="changeSelectAll()" [checked]="selectAll"> San pham</th>
        <th scope="col" style="width: 10%" colspan="1">Gia</th>
        <th scope="col" style="width: 20%" colspan="1">So luong</th>
        <th scope="col" style="width: 15%" colspan="1">So tien</th>
        <th scope="col" style="width: 15%" colspan="1">Thao tac</th>
      </tr>
      </thead>
  </table>
    <app-info-cart
      [cartResponse]="shoppingCartResponse"
      [keyCheck]="keyCheck"
      [selectAll] = "selectAll"
      (getProductSelected)="showCheckout($event)"
    ></app-info-cart>
    <div class="d-flex justify-content-evenly">
      <div class="d-flex flex-row">
        <div class="d-flex">
          <input type="checkbox" id="totalItem" class="form-check-input">
          <label for="totalItem" class="form-check-label" style="margin-left: 20px">Chon tat ca({{shoppingCartResponse.vendors?.length}})</label>
        </div>
        <div>
          <button class="btn btn-primary">Xoa</button>
        </div>
      </div>
      <div class="d-flex flex-row">
        <div>
          <p>Tong thanh toan({{getTotalItem()}}): {{Common.getFormatNumber(getTotalPrice())}}</p>
        </div>
        <div>
          <button
            class="btn btn-primary {{getTotalItem() >0 ? '' : 'disabled'}}"
            (click)="negativeToOrderPage()"
          >Mua hang</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
