<div class="container-fluid fruite" style="padding-top: 100px">
  <div class="container py-5">
    <div class="row g-4">
      <div class="col-lg-12">
        <div class="row g-4">
          <div class="col-xl-3">
            <div class="d-flex">
              <input type="search" class="form-control p-3" style="margin-right: 10px"
                     placeholder="Tìm kiếm"
                     name="query"
                     id="searchProducts"
                     aria-describedby="search-icon-1">
              <button
                id="search-icon-1"
                      class="input-group-text p-3">
                <i class="fa fa-search" style="cursor: pointer"></i>
              </button>
            </div>
          </div>
          <div class="col-6"></div>
          <div class="col-xl-3">
            <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
              <label for="sort-product">Sắp xếp mặc định:</label>
              <select id="sort-product" name="typeSort"
                      class="border-0 form-select-sm bg-light me-3"
              >
                <option>
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row g-4">
          <div class="col-lg-3">
            <div class="row g-4">
              <div class="col-lg-12">
                <div class="mb-3">
                  <h6>Thể Loại</h6>
                  <select class="form-select"
                          id="categoryId"
                          aria-label="Floating label select example"
                          name="categoryId"
                  >
                    <option
                      value="0">Chọn thể loại</option>
                    <span
                    >
                                            <option
                                            >
                                            </option>
                                        </span>
                  </select>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="mb-3">
                  <h4>Tìm theo giá</h4>
                  <div class="mb-2">
                    <div class="form-floating mb-3">
                      <input type="number"
                             class="form-control"
                             id="startPrice"
                             name="startPrice"
                      >
                      <label for="startPrice">Từ</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="number"
                             class="form-control"
                             id="endPrice"
                             name="endPrice"
                      >
                      <label for="endPrice">Đến</label>
                    </div>
                    <button
                      class="btn btn-primary">Tìm kiếm</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="row g-4 justify-content-center" id="products">
            </div>
            <div class="col-12">
              <div id="page" class="pagination d-flex justify-content-center mt-5">
                <script>
                  const pageElement = document.getElementById("page");
                  const total = [[${totalPage}]]
                  let html = ''
                  if (total > 0) {
                    html += `<a style="cursor: pointer" onclick='getPage(0)' class="rounded">&laquo;</a>`
                  }
                  for (let i = 0; i < total; i++) {
                    if (i === [[${page}]]) {
                      html += `<a class="rounded active disabled">${i + 1}</a>`
                    } else {
                      html += `<a style="cursor: pointer" onclick='getPage(${i})' class="rounded">${i + 1}</a>`
                    }
                  }
                  if (total > 0) {
                    html += `<a  style="cursor: pointer" onclick='getPage(${total - 1})' class="rounded">&raquo;</a>`
                  }
                  pageElement.innerHTML = html
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
