
<section >
  <div class="col-sm-12 col-xl-12">
    <div class="bg-light rounded h-100 p-4">
        <div class="form-floating mb-3">
          <input type="text"
                 class="form-control"
                 id="name"
                 [(ngModel)]="request.name"
                 name="name"
                 placeholder="Tên thể loại">
          <label for="name">Name</label>
        </div>
      <div class="form-floating mb-3">
        <input type="text"
               [(ngModel)]="request.thumbnail"
               class="form-control"
               id="thumbnail"
               name="name"
               placeholder="Tên thể loại">
        <label for="thumbnail">Thumbnail</label>
      </div>
      <div class="form-control">
        <label>Category parent</label>
        <select class="form-select"  [(ngModel)]="request.categoryParentId" aria-label="Default select example">
          <option *ngFor="let cate of categories" [ngValue]="cate.id">{{cate.name}}</option>
        </select>
      </div>
        <div class="form-floating">
          <button type="submit" class="btn btn-primary w-100" (click)="createCategory()">Add</button>
        </div>
    </div>
  </div>
</section>
