<!-- Hero Start -->
<div class="container-fluid py-5 hero-header">
  <div class="container py-5">
    <div class="row g-5 align-items-center">
      <div class="col-md-12 col-lg-7">
        <h4 class="mb-3 text-secondary">100% Hàng chính hãng</h4>
        <h1 class="mb-5 display-3 text-primary">Đồ thiết bị, gia dụng và vô vàn thứ khác</h1>
      </div>
      <div class="col-md-12 col-lg-5">
        <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active rounded">
              <img class="img-fluid w-100 rounded" style="height: 300px">
              <img class="img-fluid w-100 rounded" style="height: 300px">
              <a class="btn px-4 py-2 text-white rounded bg-dark">Category Name</a>
            </div>
            <!-- Repeat the following block for each category -->
            <div class="carousel-item rounded">
              <img class="img-fluid w-100 rounded" style="height: 300px" src="image_url_if_available">
              <img class="img-fluid w-100 rounded" style="height: 300px" src="https://as2.ftcdn.net/v2/jpg/00/73/00/39/1000_F_73003953_DVFZYwH4iXxOlsNSVqljeqkNBg6xIUDM.jpg">
              <a href="category_link" class="btn px-4 py-2 text-white rounded bg-dark">Category Name</a>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hero End -->

<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
  <div class="container py-5">
    <div class="tab-class text-center">
      <div class="row g-4">
        <div class="col-lg-4 text-start">
          <h1>Các sản phẩm</h1>
        </div>
      </div>
      <div class="tab-content">
        <div id="content-products" class="tab-pane fade show p-0 active">
          <div class="row g-4">
            <div class="col-lg-12">
              <div id="products-item" class="row g-4 mb-5">
                <!-- Repeat the following block for each product -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <div class="rounded position-relative fruite-item">
                    <div class="fruite-img">
                      <a href="product_link">
                        <img src="image_url_if_available" class="img-fluid-redesign w-100 rounded-top" alt="">
                        <img src="https://as2.ftcdn.net/v2/jpg/00/73/00/39/1000_F_73003953_DVFZYwH4iXxOlsNSVqljeqkNBg6xIUDM.jpg" class="img-fluid-redesign w-100 rounded-top" alt="">
                      </a>
                    </div>
                    <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">
                      Category Name
                    </div>
                    <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                      <div class="col-12 text-truncate h4">
                        <a class="text-dark" href="product_link">Product Name</a>
                      </div>
                      <div>
                      <div class="col-12 text-truncate">Product Description</div>
                      </div>
                      <div class="d-flex justify-content-between flex-lg-wrap">
                        <p class="text-dark fs-5 fw-bold mb-0">Product Price</p>
                        <a href="product_link" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Mua</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 text-center w-100">
                <a href="/shop" class="btn border border-secondary rounded-pill px-3 text-dark w-50" style="font-size: 20px">Xem thêm...</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fruits Shop End-->

<!-- Bestsaler Product Start -->
<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="text-center mx-auto mb-5" style="max-width: 700px;">
      <h1 class="display-4">Sản Phẩm Bán Chạy</h1>
    </div>
    <div id="productSeller" class="row g-4">
      <!-- Bestsaler Products will be here -->
    </div>
  </div>
</div>
<!-- Bestsaler Product End -->
