<div class="mt-5" style="padding-top: 100px">
  <div class="container bootstrap snippet">
    <div class="row">
      <div class="col-sm-10">
        <h1><span>1</span></h1></div>
    </div>
    <div class="row">
      <div class="col-sm-3"><!--left col-->

        <div class="text-center">
          <img
            [src]="user.userImage || 'http://ssl.gstatic.com/accounts/ui/avatar_2x.png'"
               class="avatar img-circle img-thumbnail"
               alt="avatar">
          <img
               class="avatar img-circle img-thumbnail">
          <form
            method="post" enctype="multipart/form-data">
            <h6>Tải ảnh lên</h6>
            <input type="file" multiple name="file" class="text-center center-block file-upload mb-4">
            <button type="submit" class="btn btn-primary w-100">Submit</button>
          </form>
        </div>
        <hr>
        <br>
        <ul class="list-group">
          <li class="list-group-item text-muted">Hoạt động <i class="fa fa-dashboard fa-1x"></i></li>
          <a href="/user-evaluations" >
            <li class="list-group-item text-right"><span class="pull-left"><strong>Đánh giá: </strong></span>
             1
            </li>
          </a>
          <a href="/user-orders">
            <li class="list-group-item text-right">
              <span class="pull-left">
                <strong>Order: </strong>
              </span> 1
            </li>
          </a>
          <a href="/user-follows" >
            <li class="list-group-item text-right">
              <span class="pull-left">
                <strong>Theo dõi: </strong>
              </span> 1
            </li>
          </a>
        </ul>
      </div><!--/col-3-->
      <div class="col-sm-9">
        <div class="tab-content">
          <div class="tab-pane active" id="home">
            <form class="form" action="##" method="post" id="form-profile">
              <div class="form-group mb-3">
                <div class="col-xs-6">
                  <label for="first_name"><h5>Họ và tên</h5></label>
                  <input type="text" class="form-control" name="fullName"
                         [(ngModel)]="user.fullName"
                         id="first_name"
                         placeholder="first name" title="enter your first name if any.">
                </div>
              </div>
              <div class="form-group mb-3">
                <div class="col-xs-6">
                  <label for="first_name"><h5>So dien thoai</h5></label>
                  <input type="text" class="form-control" name="fullName"
                         [(ngModel)]="user.fullName"
                         id="phoneNumber"
                         placeholder="first name" title="enter your first name if any.">
                </div>
              </div>
              <div class="form-group mb-3">
                <div class="col-xs-6">
                  <label for="first_name"><h5>Dia chi</h5></label>
                  <input type="text" class="form-control" name="fullName"
                         [(ngModel)]="user.fullName"
                         id="address"
                         placeholder="first name" title="enter your first name if any.">
                </div>
              </div>
              <div class="form-group mb-3">
                <div class="col-xs-6">
                  <label for="first_name"><h5>Email</h5></label>
                  <input type="text" class="form-control" name="fullName"
                         [(ngModel)]="user.fullName"
                         id="first_name"
                         placeholder="first name" title="enter your first name if any.">
                </div>
              </div>
            </form>
            <div class="form-group mb-3">
              <div class="col-xs-12">
                <br>
                <button class="btn btn-lg btn-success"
                        onclick="updateProfile()"
                        type="submit"><i
                  class="glyphicon glyphicon-ok-sign"></i> Save
                </button>
              </div>
            </div>
            <hr>
          </div><!--/tab-content-->
        </div>
      </div>
      <!-- Modal evaluations-->

<!--      <app-evaluation-->
<!--        [evaluations] = "user.evaluations"-->
<!--      ></app-evaluation>-->
<!--      <app-order-place-->
<!--        [orders] = "user.orders"-->
<!--      ></app-order-place>-->
<!--      <app-user-follow-vendor-->
<!--        [vendors] = "user.vendors"-->
<!--      ></app-user-follow-vendor>-->
    </div>
  </div>
</div>
