
<body >
<div class="col-sm-12 col-xl-12">
  <div class="bg-light rounded h-100 p-4">
    <h6 class="mb-4">Add product spu</h6>
    <form id = 'product' >
      <div class="form-floating mb-3">
        <input type="text"
               class="form-control"
               id="nameVn"
               [(ngModel)]="request.name"
               name="nameVn"
               placeholder="Ví dụ: giày">
        <label for="nameVn">Name</label>
      </div>
      <div class="form-floating mb-3">
        <select class="form-select"
                id="categoryId"
                aria-label="Floating label select example"
                name="categoryId"
        >
          <option *ngFor="let cate of categories" [ngValue]="cate.id">{{cate.name}}</option>
        </select>
        <label for="categoryId">Category</label>
      </div>
      <div class="form-floating mb-3">
        <select class="form-select"
                id="brandId"
                aria-label="Floating label select example"
                name="brandId"
        >
          <option *ngFor="let brand of brands" [ngValue]="brand.id">{{brand.name}}</option>
        </select>
        <label for="categoryId">Brand</label>
      </div>
      <div class="form-floating mb-3">
                                <textarea class="form-control"
                                          placeholder="Mô tả về sản phầm"
                                          id="description"
                                          style="height: 150px;"
                                          name="description"
                                          [(ngModel)]="request.description"
                                ></textarea>
        <label for="description">Description</label>
      </div>
      <div class="form-floating mb-3">
        <input type="number"
               class="form-control"
               name="nameVn"
               [(ngModel)]="request.maxPrice"
               placeholder="Ví dụ: giày">
        <label for="nameVn">Max price</label>
      </div>
      <div class="form-floating mb-3">
        <input type="number"
               class="form-control"
               name="nameVn"
               [(ngModel)]="request.minPrice"
               placeholder="Ví dụ: giày">
        <label for="nameVn">Min price</label>
      </div>
    </form>
    <div class="form-floating mb-3">
      <button  class="btn btn-primary w-100">Thêm</button>
    </div>
  </div>
</div>
</body>
